<div class="container">
  <div class="row mt20">
    <div class="offset-md-2 col-md-8 entry">
      <app-big-input [placeholder]="'app.home.search.input.placeholder' | translate"
                     (change)="onSearchChange($event.target.value)">
        <app-big-input-action fontSet="fas" fontIcon="fa-search" color="accent"
                              [matTooltip]="'app.home.search.input.action.search.tooltip' | translate"
                              matTooltipPosition="below">
        </app-big-input-action>
      </app-big-input>
    </div>
  </div>

  <div class="row">
    <mat-spinner *ngIf="result.loading"></mat-spinner>
  </div>

  <div class="search-results">
    <div class="row mt20" *ngIf="!loading && result.result && result.trailers">
      <div class="col-md-3" *ngFor="let trailer of result.trailers">
        <a [routerLink]="['/home/trailer',trailer.YoutubeVideoId]" [queryParams]="{ Title : trailer.Title, ChannelTitle : trailer.ChannelTitle, Description : trailer.Description , ThumbnailUrl : trailer.ThumbnailUrl }">
          <mat-card class="home-trailer-card">
            <img mat-card-image src="{{trailer.ThumbnailUrl}}" alt="{{trailer.Title}}">
            <mat-card-content>
              <span class="home-trailer-card-title">{{trailer.Title}}</span>
            </mat-card-content>
            <mat-card-footer>
              <span class="home-trailer-card-channel">{{trailer.ChannelTitle}}</span>
            </mat-card-footer>
          </mat-card>
        </a>
      </div>
      <div class="col-sm-12">
        <div class="load-more-button-container">
          <button mat-fab class="load-more-button" (click)="loadMore()"  color="accent" >
            {{ 'app.home.index.loadMore' | translate }}
          </button>
        </div>
      </div>
      
    </div>

    

  </div>
</div>
