
.trailer-card{
  margin-bottom : 200px;
}

.trailer-info{
  margin-top : 20px;
}

.likeCount {
  float: right;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-form-field {
  width: 100%;
}

.mt20 {
  margin-top: 20px;
}

mat-card {

  mat-card-title {
    margin-bottom: 5px;
  }

  .home-trailer-card-title {
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 1.6rem;
  }
}

mat-spinner {
  margin: auto;
}

.error {
  text-align: center;
  padding: 20px;

  mat-icon {
    width: 54px;
    font-size: 48px;
  }

  > span {
    opacity: 0.4;
  }
  .symbol {
    font-weight: bold;
  }
}
